.title {

    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
    letter-spacing: 2px;
    line-height: 22px;
    color: #212121;
    font-family: "Open Sans";
    font-weight: 700;
    text-align: center;
}

.desc {
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 22px;
    color: #212121;
    font-family: "Open Sans";
    font-weight: 400;
    text-align: center;
}

.about-item-title {
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 22px;
    color: #212121;
    font-family: "Open Sans";
    font-weight: 600;
}

.about-body {
    max-width: 1260px;
    width: 100%;
    margin: 0 auto;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.about-item-desc {
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 22px;
    color: #212121;
    font-family: "Open Sans";
    font-weight: 400;
}

.about-body-item {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about {
    padding: 50px 0;
}

@media screen and (max-width: 768px) {
    .about-body {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .about-item-icon img {
        max-width: 100%;
        width: 100%;
        max-height: 100%;
        height: 100%;
    }

    .about-body-item {
        padding: 10px;
        width: 45%;
    }
}