.pricing-plan {
    background-color: #f0f0f0;
    padding: 50px 0;
}
.pricing-plan-container{
    max-width: 1260px;
    width: 100%;
    margin: 0 auto;
}

.pricing-item-subtitle {
    font-size: 25px;
    color: white;
    text-align: center;
}
.pricing-plan-item{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: white;
}
.pricing-plan-body{
    display: flex;
    justify-content: space-between;
}

.usd {
    font-size: 25px;
    margin: 0;
}

.price {
    font-size: 50px;
    margin: 0;
}

.price-month {
    font-size: 25px;
    margin: 0;
}

.pricing-item-price {
    display: flex;
    color: white;
    justify-content: center;
}

.usd {
    align-self: flex-start;
    color: white;
}

.price-month {
    color: white;
}


.pricing-item-title {
    background: linear-gradient(to bottom right,
            #3949ab 50%,
            transparent 50.5%) no-repeat bottom,
        /* bottom part */
        linear-gradient(100deg, #3949ab, #3949ab) no-repeat top;
    /* top portion */
    padding-bottom: 3.5rem;
    background-size: 100% 3rem, 100% calc(100% - 3rem)
}
.pricing-item-body{
    margin-top: 50px;
}
.pricing-item-desc {
    color: #212121;
    font-size: 17px;
    border-bottom: 1px solid #bfbfbf;
    margin: 0;
    padding: 10px 0;
    text-align: center;

}
.pricing-item-btn{
    border: 2px solid #000000;
    width: 30%;
    margin: 50px auto;
}
.pricing-item-btn p{
    margin: 0;
    padding: 10px 0;
    text-align: center;
}
.pricing-item-btn:hover{
    background-color: #00897b;
}
.pricing-item-btn:hover p{
    color: white;
}

@media screen and (max-width: 768px) {
    .pricing-plan-body{
        flex-wrap: wrap;
        justify-content: center;
    }
    .pricing-plan-item{
        margin-top: 20px;
        width: 90%;
    }
}